<div class="navbar">
  <div class="items d-flex">
    <%= link_to "ACCUEIL", root_path, class: 'item' %>
    <%= link_to "PORTEFOLIO", portefolio_path, class: 'item' %>
    <%= link_to "CONTACT", contact_path, class: 'item' %>
  </div>
  <div class="btn-CV mr-3 mt-3 mb-3">
    <%= link_to asset_path("estelle_boujenah.pdf"), target: "_blank", class: 'item' do %>
      TELECHARGER MON CV COMPLET
    <% end %>
  </div>
</div>
