<div class="a-propos">
  <div class="row">
    <div class="col-6">
      <img src="../../assets/images/IMG_8476.JPG" alt="">
    </div>
    <div class="col-6">
      <div class="a-propos-content mt-2">
        <h1 class="a-propos-title">A PROPOS</h1>
        <h1 class="last-name">Estelle Boujenah</h1>
      </div>
    </div>
  </div>
</div>
