.name{
  margin-top: 10px;
}

.a-propos-content{
  padding-top: 100px;
  border: 1px solid red;
}

.a-propos-title{
  border-bottom: 5px solid #26849b;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 195px;
  margin-top: 30px;
}
