.item{
  margin-left: 50px;
  color: white;
  &:hover{
    color: #d8d8d8;
    text-decoration: none;
  }
}

.item-CV{
  margin-right: 50px;
  color: white;
  &:hover{
    color: #d8d8d8;
    text-decoration: none;
  }
}

.navbar{
  background-color: #3BA3BE;
}
